.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.switch {
    padding: 10px 25px;
    color: white;
    border: 0;
    transition: box-shadow 1s;
    box-shadow: inset 0 0 0 0 green;
    background-color: salmon;
    font-size: 1.1em;
}

.on {
    box-shadow: inset 0 100px green;
}

@media (max-width: 960px) {
    .container {
        width: 95%;
        flex-direction: column;
    }

    .switch {
        margin-bottom: 15px;
    }
}